$brand-green: #45c561!important;
$brand-light: #b4a793!important;

body {
    position: relative;
}

nav {
    height: 80px;
    border-bottom: 1px solid rgb(241, 241, 241);
    a {
      font-size: 24px!important;
      font-weight: lighter;
    }

    .btn {
        margin-top: 10px!important;
        font-weight: normal;
        font-size: 15px!important;
    }
}

.brand-text {
    color: $brand-light;
}

.brand {
    background: $brand-green;
}

.brand-image {
    margin: 10px;
    img {
        width: 36px;
        transform: rotate(320deg);
    }
}

.burger, .pizza {
    width: 230px;
    margin: 40px auto -30px;
    display: block;
    position: relative;
    top: -100px;
}

.restaurant-img {
    width: 250px;
    margin: 40px auto;
}

.h4 {
    margin-bottom: 80px;
}

.overlay {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2;
}

.add-restaurant-container {
    display: none;
    position: absolute;
    top: 20vw;
    left: 20vw;
    z-index: 3;
    background: white;
    width: 60vw;
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    border-radius: 8px;
}

.cancel {
    text-align: right;
    font-size: 1.5em;
    color: $brand-light;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
        cursor: pointer;
    }
}

.card-action-container {
    display: flex;
    justify-content: space-between;
}

.edit-restaurant-container {
    position: absolute;
    display:none;
    top: 20vw;
    left: 20vw;
    z-index: 3;
    background: white;
    width: 60vw;
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    border-radius: 8px;

    .delete {
        background: rgb(223, 80, 80);
    }
}

.info {
    margin-top: -80px;
}

@media only screen and (max-width: 40em) {
    .pizza {
        width: 100px;
        top: -70px;
    }

    .edit-restaurant-container {
        top: 0;
        left: 0;
        width: 100vw;
        height: 75vh;
        border-radius: 0;
    }

    .add-restaurant-container {
        top: 0;
        left: 0;
        width: 100vw;
        height: 75vh;
        border-radius: 0;
    }
}