<!-- NAV -->
<nav class="white z-depth-0">
    <div class="container">
        <a href="/ratearestaurant" class="brand-logo brand-text brand-image"><img src="\img\logo.svg" alt="">ratearestaurant</a>
    </div>
</nav>