<!-- NAV -->
<nav class="white z-depth-0">
    <div class="container">
      <a href="/ratearestaurant" class="brand-logo brand-text brand-image left"><img src="img\logo.svg" alt="">ratearestaurant</a>
      <ul id="nav-mobile" class="right">
      <a href="#" id="addBtn" class="btn brand z-depth-0">Add restaurant</a>
      </ul>
    </div>
</nav>