<!-- NAV -->
<nav class="white z-depth-0">
    <div class="container">
        <a href="/" class="brand-logo brand-text brand-image hide-on-med-and-down"><img src="\img\logo.svg" alt="">ratearestaurant</a>
        <a href="/users/login" class="brand-text login right">Log in</a>
    </div>
</nav>